

<div class="panel panel-default">
  <div class="panel-heading"><h1><%= @user.username %></h1></div>


<div class="panel-body">
<%= image_tag(@user.avatar.url(:small), class: "img-thumbnail") %>
<p><%= @user.first_name %> <%= @user.last_name %></p><br />


<%= @user.goals.count %> <span class="small text">Goals</span><br />
<p>Bio:  <%= @user.bio %></p>
<p></p>Location:  <%= @user.location %></p>
Joined in <%= @user.created_at.strftime("%B %Y") %>
</div>
</div>
<!-- Following and Unfollowing users -->

<% if current_user.id != @user.id %>
  <% if current_user.friends.include?(@user) %>
    <%= link_to "Following", relationship_path(current_user.relationships.find_by_friend_id(@user)), :method => :delete, class: "btn btn-primary btn-xs", id:"unfollow_btn" %>
  <% else %>
    <%= link_to "Follow", relationships_path(:friend_id => @user), method: :post, class: "btn btn_success" %>
  <% end %>
<% end %>

<br /><br />

<!-- User goals -->

<% @user.goals.each do |goal| %>
<strong>Goal: <%= goal.name %></strong><br />
<%= goal.description %><br />
<hr />
<% end %>
